.about-container {
  background-color: black;
  color: white;
}
.about {
  margin: 0;
  text-align: center;
}
.soup {
  width: 500px;
  height: 500px;
}
.rem {
  background-image: url(interior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  border-top: 2px solid lightcoral;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
