.footer-container {
  position: absolute;
  bottom: 0;
}
.footer-container > ul {
  list-style: none;
}
.footer-container > ul > li > a {
  text-decoration: none;
  font-size: small;
  color: black;
}
